.search-bar{
  width: 500px !important;
}
.dropdown-menu{
  left: -95px !important;
  padding: 0 !important;
  width: 10rem !important;
  top: 110% !important;
}
.dropdown-item{
  padding: 2px 8px !important;
  text-align: right !important;
}
.dropdown-item:nth-of-type(2n){
  background:#0062cc8c;
}
.dropdown-item:last-of-type{
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.dropdown-item:hover{
  background:#babdc1 !important;
}

 .dropdown-toggle::after {
  margin-left: 0.255em !important;
  margin-right: 10px !important;
}
.modal-footer{
  justify-content: flex-start !important;
}
.modal-header .close{
  margin: -1rem !important;
}
.modal-header{
  flex-direction: row-reverse;
}
