.expiry-layout{
  width:100vw;
  height:100vh;
  position:fixed;
  background: #808080;
  z-index: 1000;
}
.expiry-container{
  width:300px;
  height: 150px;
  background: white;
  border-radius: 10px;
  padding:20px 15px;
}
.expiry-container p{
  text-align: justify;
}
.table-container{
  max-height: 88vh;
  overflow-y: scroll;
}

.send-envelope__title{
  text-align: center
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-390{
  width:395px;
}

.px--1{
  padding: 0 5px;
}
.date-picker__input{
  text-align: left !important;
}
